.divForm{
	background-color: rgba(0, 0, 0, 0.8);
	width: 30%;
	padding: 80px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #fff;
	border-radius: 15px;
}

.input{
	width: 100%!important;
	padding: 15px;
	border: none;
	outline: none;
	font-size: 15px;
	cursor: pointer;
}
#btn{
	background-color:  dodgerblue;
	width: 100%!important;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#btn:hover{
	background-color: deepskyblue;
}
#link{
	text-decoration: none;
	color: #fff;
}
#link:hover,
#link:focus {
  color: #333;
  background-color: #fff;
}