.alignCenter{
    display: flex;
    align-items: center;
}
.logo{
    opacity: 0.6;
}
.logo:hover {
    opacity: 0.9;
    font-size: 20px;
}
.bgNav{
    background-color: rgba(0, 0, 0, 0.8);
}

.room {
    width: 250px;
    height: 100px;
}
.slideCar{
    width: 60%;
    height: 30%;
}
.logo{
    width: 12% !important;
    height: 12% !important;
}

.end10{
    right: 4%;
}
.carousel-item{
    width: 100%!important;
}
.slidesDiv{
    width: 1150px;
    height: 500px; 
    margin: 0 auto;
}

.imgSlide{
    text-align: center;
}

  
.end15{
    right: 6%;
}
  
body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(90deg, #002B38, cyan);
}
.first-screen{
    width: 450px;
    height: 540px;
}
.molde{
    background: rgba(0, 0, 0, 0.8);
    max-width: 1150px;
    margin: 50px auto;
    display: flex;
    color:#fff;
}

.imgMolde{
    align-self: center;
    padding-left: 2%;
}

.texto1{
    text-align: justify;
    font-size: 15px;
    margin: 10px auto;
    padding: 30px;
}

/* footer */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6
}

.footer-dark ul a:hover {
    opacity: 0.8
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px
    }
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75
}
.wpp{
    width: 45px;
    height: 45px;
    display: block;
}   

.footer-dark .item.social>a:hover {
    opacity: 0.9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0
}