.caixa {
    margin: 40px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
  }
  .polaroid {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 20px 40px;
  }

  .photo {
    width: 100%;
    height: 290px;
    object-fit: cover;
  }
  
  .caption {
    margin-top: 10px;
  }