body{
	margin:0;
	padding: 0;
}
#principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}
.postagem{
	width: 660px;
	/* float: left; */
	padding: 20px;
	margin-bottom: 20px;
	background-image: linear-gradient(90deg, #2985a1, rgb(30, 211, 211));

}
.clear{
	clear: both;
}

#area-lateral {
	width: 240px;
	float: right;
	margin-right: 150px;
	margin-top: -160%;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	border-radius: 4px;
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.349);
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.349);
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.349);
}

.fonteSmall{
	font-size: small;
}

.fonteBranca{
	font-style: normal white;
}